 body{
    font-family: 'Arial';
}
.nav {
    width: 100%;
}

.logo {
    width: 50%;
    height: 125px;
    position: absolute;
    background-image: url("http://i970.photobucket.com/albums/ae188/conradyak/Slice%201_zpsezwgjngl.png");
    background-repeat: no-repeat;
    background-position: center;
    /*logo on homepage*/
    background-color: #7E1515;
}

.thumbnail {
    width: 33%;
    height: 125px;
}



.clearfix:after {
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#7E1515;
}

.menu {
  width:50%;
    height: 125px;
    margin:0px auto;
    /*bar on homepage right side*/
    background-color: #7E1515;
    color: white;
    margin-right: 0px;
    position: relative;
}

.menu li {
    margin-top: 10px;
    margin:0px;
    list-style:none;
}

.menu a {
    transition:all linear 0.15s;
    color:white;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#230C0F;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    margin-top: 25px;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#4F0D0D;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:10;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    /*dropdown menu color*/
    background:#4F0D0D;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display: block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#4F0D0D;
}

#user-name  {
  float: right;
  margin-right: 30px;
}

#results-container {
  padding:20px 20px;
  position: fixed;
  height: 85%;
  width: 45%;
  margin-left: 200px;
  overflow-x: none;
  overflow-y: scroll;
  z-index: 1;
}

#vertical {
  width: 75%;
 height: 200%;
 z-index: 2;
}

#bar {
  text-align: center;
  border: 15px solid #4F0D0D;
  border-radius: 20px;
  overflow: scroll;
  height: 300px;
  background-color: #7E1515;
  margin: 10px;
  color: #D3D3D3;
  font-family: 'Arial', cursive;
}

#bar-name {
  font-family: 'Arial', cursive;
}

.bar-comment-scroll {
  text-align: center;
  border: 3px solid black;
  overflow: scroll;
  height: 300px;
  background-color: white;
  margin: 10px;
  font-family: 'Arial', cursive;
}

.jumbotron {
  margin-top: 100px;
  /*writing inside the jumbotron homepage*/
  color: #7E1515;
  background-color: white;
  font-family: 'Arial', cursive;
}

.jumbotron h1 {
  font-family: 'Arial', cursive;
}

.jumbotron h3 {
  font-family: 'Arial', cursive;
}

.jumbotron a.btn {
  button background-color
  background-color:#7E1515;
}

.btn {
  color: #B61E1E;
  background-color: white;
}

.container h1 {
  font-family: 'Arial', cursive;
}

.container a {
  color: #B61E1E;
}

.fa-sign-in {
  color: #7E1515;
}
